div {
	border-radius: 5px;
	border: 2px solid white;
	background-color: #32CD32;
	height:30px;
	width: 70px;
	text-align: center;
	margin-left: 25em;
} 

table{
	width: 75px; 
	margin-left: 10em;
	border: 5px;
}
td{
	width:75px;
	font color:#32CD32;
	
}
h4 {
margin-top: 60px;
font-family: Arial;
font-size: 30px;
color: black;
text-align: center;
}
h1{
margin-top: 60px;
font-family: Arial;
font-size: 20px;
color: black;
text-align: center;
}

