---
layout: default
---

<center id="professores" style="display:none">
	<div class="dropdown" style="box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);border: 1px solid #ccc;border-radius: 20px;width:50%;margin-top:10px">
		<div id="myDropdownTurma">
			<input type="text" placeholder="Search.." id="myInputTurma" onkeyup="filterFunction('myDropdownTurma','myInputTurma')" style="width:90%;margin-top:10px">
			<div class="dropdown-content" style="width:200px;height:200px;margin-top:10px;margin-bottom:10px;background-color:white">
				{% for profz in site.data.hprofessor.professores %}
					<p onclick="Botao('{{profz}}')">{{profz}} </p>
				{% endfor %}
			</div>
		</div>	
  	</div>
	{% for professor in site.data.horario.professores %}
		<div id="{{professor.nome}}" class="dany" style="display:none;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);border: 1px solid #ccc;border-radius: 20px;">
		      <center>
			      <h3>{{professor.nome}}</h3>
		      </center>	   
		      <div class="container">
			      <table class="table table-striped">
				<tr>
				{% for coluna in professor.colunas %}
					<th>{{coluna}}</th>
				{% endfor %}
				</tr>

				{% for linha in professor.linhas %}
				  <tr>
				  <td>{{linha.horario}}</td>
				  {% for aula in linha.aulas %}
					  {% if aula.disciplina == "ALMOÇO" or aula.disciplina == "INTERVALO" or aula.disciplina == "JANTAR" %}
						<td colspan="5">{{aula.disciplina}}<br/>{{aula.turma}}</td>
					  	{% break %}
					  {% else %}
						<td>{{aula.disciplina}}<br/>{{aula.turma}}</td>
					  {% endif %}
				  {% endfor %}
				  </tr>
			       {% endfor %}
			       </table>
			</div>
		</div>
	{% endfor %}
</center>
<center id="turmas" style="display:none">
	<div class="dropdown" style="box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);border: 1px solid #ccc;border-radius: 20px;width:50%;margin-top:10px">
		<div id="myDropdownTurma">
			<input type="text" placeholder="Search.." id="myInputTurma" onkeyup="filterFunction('myDropdownTurma','myInputTurma')" style="width:90%;margin-top:10px">
			<div class="dropdown-content" style="width:200px;height:200px;margin-top:10px;background-color:white">
				{% for turmaz in site.data.hturma.turmas %}
					<p onclick="Botao('{{turmaz}}')">{{turmaz}} </p>
				{% endfor %}
			</div>
		</div>
	</div>
	{% for curso in site.data.horario.cursos %}
		{% for turma in curso.turmas %}
		      <div id="{{turma.nome}}" class="dany" style="display:none;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);border: 1px solid #ccc;border-radius: 20px;">
			      <center>
				      <h3>{{turma.nome}}</h3>
			      </center>	   
			      <div class="container">
				      <table class="table table-striped">
					<tr>
					{% for coluna in turma.colunas %}
						<th>{{coluna}}</th>
					{% endfor %}
					</tr>

					{% for linha in turma.linhas %}
					  <tr>
					  <td>{{linha.horario}}</td>
					  {% for aula in linha.aulas %}
						  {% if aula.disciplina == "ALMOÇO" or aula.disciplina == "INTERVALO" or aula.disciplina == "JANTAR"%}
						  	<td colspan="5">{{aula.disciplina}}<br/>{{aula.professor}}</td>
						  	{% break %}
						  {% else %}
						  	<td>{{aula.disciplina}}<br/>{{aula.professor}}</td>
						  {% endif %}
					  {% endfor %}
					  </tr>
				       {% endfor %}
				       </table>
				</div>
			</div>
		{% endfor %}
	{% endfor %}
</center>





