---
layout: default
---

<div id="professores">
	<div class="bug" style="display:none">
		<div class="dropdown">
		<button onclick="myFunction()" class="dropbtn">Dropdown</button>
			<div id="myDropdown" class="dropdown-content">
				<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
				{% for profz in site.data.hprofessor.professores %}
					<p onclick="Botao('{{profz}}')">{{profz}} </p>
				{% endfor %}
			</div>
		</div>
	</div>
    {% for professor in site.data.horario.professores %}
      <div id="{{professor.nome}}" class="dany" style="display:none">
	      <center>
		      <h3>{{professor.nome}}</h3>
	      </center>	   
	      <div class="container">
		      <table class="table table-striped">
			<tr>
			{% for coluna in professor.colunas %}
				<th>{{coluna}}</th>
			{% endfor %}
			</tr>

			{% for linha in professor.linhas %}
			  <tr>
			  <td>{{linha.horario}}</td>
			  {% for aula in linha.aulas %}
				  <td>{{aula.disciplina}}<br/>{{aula.turma}}</td>
			  {% endfor %}
			  </tr>
		       {% endfor %}
		       </table>
		</div>
	</div>
    {% endfor %}
</div>
<div id="turmas">
	<div class="bug" style="display:none">
		<div class="dropdown">
		<button onclick="myFunction()" class="dropbtn">Dropdown</button>
			<div id="myDropdown" class="dropdown-content">
				<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
				{% for turmaz in site.data.hturma.turmas %}
					<p onclick="Botao('{{turmaz}}')">{{turmaz}} </p>
				{% endfor %}
			</div>
		</div>
	</div>
    {% for curso in site.data.horario.cursos %}
	{% for turma in curso.turmas %}
	      <div id="{{turma.nome}}" class="dany" style="display:none">
		      <center>
			      <h3>{{turma.nome}}</h3>
		      </center>	   
		      <div class="container">
			      <table class="table table-striped">
				<tr>
				{% for coluna in turma.colunas %}
					<th>{{coluna}}</th>
				{% endfor %}
				</tr>

				{% for linha in turma.linhas %}
				  <tr>
				  <td>{{linha.horario}}</td>
				  {% for aula in linha.aulas %}
					  <td>{{aula.disciplina}}<br/>{{aula.professor}}</td>
				  {% endfor %}
				  </tr>
			       {% endfor %}
			       </table>
			</div>
		</div>
	{% endfor %}
    {% endfor %}
</div>





