<!DOCTYPE html>
<html>
  {% include head.html %}
  <body style="width:100%;font-family:Book Antiqua">
    <div style="margin-left:50px;margin-right:50px;margin-top:10px;margin-bottom:10px">
	    <div style="box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);border: 1px solid #ccc;border-radius: 20px;">
			<center>
		    		<img src="img/logo-ifpb.jpg" align="middle"  height="90%" width="90%">
			</center>
			<center>
				<a href="http://www.ifpb.edu.br/guarabira">
					<button class="dropbtn font-book-antiqua font-20" style="width:150px">SITE OFICIAL</button>
				</a>
				<button onclick="Turma()" class="dropbtn font-book-antiqua font-20" style="width:150px">TURMAS</button>
				<button onclick="Professor()" class="dropbtn font-book-antiqua font-20" style="width:150px">PROFESSORES</button>
				<button onclick="Infor()" class="dropbtn font-book-antiqua font-20" style="width:150px">INFORMAÇÕES</button>
			</center>
		</div>
	    {{ content }}
	</div>
  </body>
</html>
